@layer layout {
  .layout {
    display: grid;
    place-content: center;
    grid-template-columns: [start] 5px [content-start] 1fr [content-end] 5px [end];

    @media (width > 700px) {
      grid-template-columns:
        [start] 10px [content-start main] minmax(0, 812px)
        [content-end r-margin] 10px [ end];
    }
  }

  .content {
    grid-column-start: content-start;
    min-height: calc(100vh - 390px);
  }

  .header {
    height: 200px;
    margin-bottom: 10px;
  }

  .top-image {
    background-image: url(/images/header-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  footer {
    margin-top: 20px;
    display: flex;
    padding: 15px;
    justify-content: space-around;

    .co-name {
      font-size: var(--font-size-xs);
    }
  }

  body:not(:has(.front-page)) {
    background-image: url(/images/bg.svg);
    /* background-repeat: no-repeat; */
    background-size: 100% auto;
    /* background-position: center; */
  }
}
