@layer utilities {
  /* https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/ */
  .tooltip {
    position: relative;
  }

  .tooltip:before {
    content: attr(data-text); /* here's the magic */
    position: absolute;
    z-index: 10;

    top: -1.9rem;
    transform: translateX(-1rem);

    /* move to right */
    left: 100%;
    margin-left: 15px; /* and add a small left margin */

    /* basic styles */
    padding: 0.3rem;

    white-space: nowrap;
    background: #000;
    color: #fff;
    text-align: center;

    opacity: 0;
    transition: 0.3s opacity;
  }

  .tooltip:after {
    content: "";
    position: absolute;
    z-index: 10;

    top: -0.6rem;
    transform: translateX(0rem);

    transform: rotate(-45deg);

    /* the arrow */
    border: 15px solid var(--yellow);
    border-radius: 90px;
    border-color: transparent var(--yellow) transparent transparent;

    opacity: 0;
    transition: 0.3s opacity;
  }

  .tooltip:hover:before,
  .tooltip:hover:after {
    opacity: 1;
  }

  .scale-hover {
    transition: all 0.5s ease-in-out;
  }
  .scale-hover:hover {
    transform: scale(1.05);
    filter: brightness(0.8);
  }

  .card-column {
    display: flex;
    flex-direction: column;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .gap-1 {
    gap: 0.4rem;
  }
}
