@layer layout {
  .main-layout {
    display: grid;
    place-content: center;
    grid-template-columns: [start] 5px [content-start] 1fr [content-end] 5px [end];

    .title {
      font-size: var(--font-size-xl);
      font-family: var(--heading-font-family);
    }
  }

  .section-me {
    margin-top: 20px;
    display: grid;
    justify-content: center;

    @media (width > 400px) {
      .image {
        padding-left: 100px;
        padding-right: 100px;
      }
    }

    @media (width > 700px) {
      grid-template-columns: [image] 300px [content] minmax(0, 812px);

      .image {
        padding-left: 0px;
        padding-right: 0px;
      }
    }

    .me {
      display: grid;
      padding: 10px;
      padding-left: 20px;

      p {
        padding-bottom: 10px;
      }
    }

    .greet {
      font-size: var(--font-size-xl);
      font-family: var(--heading-font-family);
      text-align: center;
      font-weight: 600;
    }
  }

  article {
    border: 2px solid red;
  }

  section {
    margin-top: 30px;

    .post-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1rem;

      @media (width > 700px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }

      @media (width > 900px) {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
      }
    }
    .title {
      text-align: center;
    }
  }
}
