html {
    /* CSS HEX */
    --black: #000000ff;
    --eerie-black: rgb(46, 46, 46);
    --cultured: #f5f5f5ff;
    --celadon-blue: #247ba0ff;
    --orange-soda: #f06543ff;

    --light-background: var(--black);
    --light-2-background: var(--eerie-black);

    --nav-buttons: var(--celadon-blue);
    --secondary-btn: var(--orange-soda);

    --badge-tech-bg: var(--orange-soda);
    --badge-tech-txt: var(--cultured);
}
